@import "tailwindcss";

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --bg-primary: #0a0a0a;
}

body {
  background-color: var(--bg-primary);
}